@charset "utf-8";
.fontregular { 
	font-family: 'Spectral SC', serif;
}
.fontbold {
	font-family: 'Spectral SC', serif;
	font-weight: bold; 
	color:rgba(24,158,186,1.00);
}
.col-10 #carouselExampleIndicators .carousel-inner {
	  margin: 6px;
      height: 120px;
      background-size: cover;
      background-position: center center;
}
.row.d-flex.align-items-center .col-1.d-flex.align-items-center.justify-content-center a {
	height: 48px;
   width: 48px;
}
.title {
	color:rgba(24,158,186,1.00);
	outline-color:rgba(24,158,186,1.00);
}
.info {
  border-color: rgba(24,158,186,1.00);
	color: rgba(24,158,186,1.00);
}
.background {
	background-color: rgba(242,237,233,1.00);
}

body {
	background: #ebebeb;
	font-family: 'Spectral SC', serif;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
 
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
  float: left;
  width: 25%;
  padding: 5px;
}

  .column2 {
}
